/*
Color Palette:
    --color-red-500: #d40511;
    --color-gray-300: #dadada;
    --color-white: #ffffff;
    --color-black: #000000;
 */


.label {
    -fx-text-fill: #d40511;
    -fx-font-family: helvetica;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.labelBigger {
    -fx-text-fill: #d40511;
    -fx-font-family: helvetica;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.whitelabel{
    -fx-text-fill: #ffffff;
    -fx-font-family: helvetica;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dropShadow{
    -fx-effect: dropshadow(three-pass-box, black, 0, 0, 0, 1);
}
.dropWhite{
    -fx-effect: dropshadow(three-pass-box, #ffffff, 2, 0, 0, 2);
}

.backgroundRed {
    -fx-background-color: #d40511;
}

.backgroundGray {
    -fx-background-color: #dadada;
}

.backgroundWhite {
    -fx-background-color: #ffffff;
}

.borderYellow {
    -fx-border-color: #d40511;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
}

.borderSlimRed{
    -fx-border-color: #d40511;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.borderBlack {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.header1{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #d40511;
}
